<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.zimity.android.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Target OS Version -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />

    <!-- Application Hardware Requirements -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- true -->
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" /> <!-- true -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <!-- Application Permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/zimity" >

        <!-- Application Required Libraries -->
        <uses-library android:name="com.google.android.maps" />

        <!-- Application Entry Point -->
        <activity
            android:label="@string/zimity"
            android:name="me.zimity.android.activities.ZimityActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Application Activities -->
        <activity
            android:label="@string/login"
            android:name="me.zimity.android.activities.LoginActivity" >
        </activity>
        <activity
            android:label="@string/title"
            android:name="me.zimity.android.activities.TitleScreen" >
        </activity>
        <activity
            android:label="@string/settings"
            android:name="me.zimity.android.activities.SettingsActivity" >
        </activity>
        <activity
            android:label="@string/notifications"
            android:name="me.zimity.android.activities.NotificationsPreferences" >
        </activity>
        <activity
            android:label="@string/youraccount"
            android:name="me.zimity.android.activities.YourAccountPreferences" >
        </activity>
        <activity
            android:label="@string/about"
            android:name="me.zimity.android.activities.AboutPreferences" />
        <activity
            android:label="@string/deals"
            android:name="me.zimity.android.activities.DealsActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:label="@string/friends"
            android:name="me.zimity.android.activities.BasicImprintActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:label="@string/nearby"
            android:name="me.zimity.android.activities.NearByActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:label="@string/search"
            android:name="me.zimity.android.activities.BookmarkActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:label="@string/imp_audio"
            android:name="me.zimity.android.activities.AudioActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
        	android:label="@string/imp_event"
            android:name="me.zimity.android.activities.EventActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:label="@string/imprint"
            android:name="me.zimity.android.activities.ImprintActivity" >
        </activity>
        <activity
            android:label="@string/imp_photo"
            android:name="me.zimity.android.activities.PhotoActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:label="@string/imp_remind"
            android:name="me.zimity.android.activities.ReminderActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:label="@string/imp_video"
            android:name="me.zimity.android.activities.VideoActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:label="@string/imp_note"
            android:name="me.zimity.android.activities.NoteActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:label="@string/terms"
            android:name="me.zimity.android.activities.TermsActivity" >
        </activity>
        <activity
            android:label="@string/privacy"
            android:name="me.zimity.android.activities.PrivacyActivity" >
        </activity>
        <activity
            android:label="@string/register"
            android:name="me.zimity.android.activities.RegisterActivity" >
        </activity>
    </application>

</manifest>